{% extends "base.html.twig" %}

{% block title %}Acteur{% endblock %}

{% block content %}


    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">{{ actor.name }}  </h1>
            <p>A joué dans :</p>

            {% for program in actor.programs %}
                <div>
                    <a class="ref-show" href="{{ path('program_show', { slug: program.id }) }}">{{ program.title }}</a>
                </div>
            {% else %}
                Aucun acteur trouvé.
            {% endfor %}
            <a class="ref-return" href="{{ path('app_index') }}">
                Retour à l'accueil
            </a>
        </div>
    </div>



{% endblock %}
