@import 'variables';
@import 'global';
@import 'navbar';
@import "~bootstrap/scss/bootstrap";
@font-face {
  font-family: "Techno";
  src: url('../font/Techno.ttf');
}
@font-face {
  font-family: "Atlas";
  src: url('../font/dai-atlas-font/DaiAtlas-Y0Z8.ttf');
}



