$body-bg: #8004d1;
$body-color: #fdb126;
$a-color: #fb9903;
$a-color2: #fb7003;
$nav-color: grey;



/*
--twitter-color: #1da1f2;
--instagram-color: #8004d1;
--facebook-color: #3f88f0;
--github-color: #FFFFFF;
--youtube_color: #f21501

*/